*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

body{
    background-color: #100D0D;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom:2px solid white ;
}
#menu-icons{
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero1{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #100D0D;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 400px;
}
.hero2{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #100D0D;
    position: relative;
    align-items: center;
}
.hero3{
    width: 100%;
    background: #100D0D;
    position: relative;
    align-items: center;
}
.hero4{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #100D0D;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    column-gap: 400px;
}
.gri{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    column-gap:10px ;
}
section{
    padding: 0 12%;
}
.hero-text h3{
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
}
.hero-text h1{
    color: white;
    font-size: 90px;
    font-weight: 600 ;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-weight: 400 ;
    margin-bottom: 10px;
}
.lt{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: end;
    height: 90px;
    column-gap:10px ;
}
.ga{
    width: 80%;
    border: 1px solid transparent;
    border-radius: 100% ;
    box-shadow: rgba(104, 49, 255, 0.35) 0px 5px 15px;
}
.bola{
    background: #333A73;
    width: 40px;
    height: 40px;
    border: solid 1px #333A73;
    border-radius: 50%;
}
.retangulo{
    background: #333A73;
    height: 5px;
    width: 25%;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
    position: absolute;
}
.triangulo{
    width: 60px;
     height: 40px;
     border-top: 20px solid transparent;
     border-left: 40px solid #333A73;
     border-bottom: 20px solid transparent;
     position: absolute;
    left: 100%;
}
.pt{
    height: 650px;
    width: auto;
    display: flex;
    background-color: #100D0D;
    align-items: center;
}
.pales{
    margin: auto;
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-end;
    grid-column-start: 1;
    grid-column-end: 2;
}
.ptech{
    margin: auto;
    background: -webkit-linear-gradient(90deg, rgba(121,72,9,0.9122023809523809) 28%, rgba(234,255,0,0.9150035014005602) 54%, rgba(234,255,0,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-end;
}
.teams{
    margin: auto;
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82,61,93,1) 30%, rgba(46,9,121,1) 100%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-end;
    grid-column-start: 1;
    grid-column-end: 2;
}
.map{
    border-radius: 20px;width: 500px;
    box-shadow: rgba(34,193,195,1) 0px 5px 15px;
    height: 350px; object-fit: cover;
}
.map1{
    border-radius: 20px;width: 500px;
    box-shadow: rgba(253,187,45,1) 0px 5px 15px;
    height: 350px; object-fit: cover
}
.map2{
    border-radius: 20px;width: 500px;
    box-shadow: rgba(126, 8, 194, 0.35) 0px 5px 15px;
    object-fit: cover;
}
.ofcur{
    margin-left: 5%;
}
.ofcur p{
    width: 20%;
}
.cur{
    border-radius: 20px; width: 40%; margin: auto;
    box-shadow: rgba(126, 8, 194, 0.35) 0px 5px 15px;
}
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #555; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1d1717; 
  }
  html{ 
    scroll-behavior: smooth
  }